body
		{
			background-image: url('images/background2.jpg');
		}


a:link, a:visited
		{
			background-color: pink;
			color: magenta;
			text-decoration: none;
			font-size: 23px;
			height: 50px;
			width: 130px;
			text-align: center;
			display: inline-block;
			font-family: 'Inconsolata', monospace;
		}

a:hover
		{
			color:pink;
			background-color: white;
			text-decoration: underline;
		}

a:active
		{
			color: navy;
			background-color: lightgrey;
			text-decoration: underline;
		}

table, tr, td
		{
				border: 1px solid black;
				border-collapse: collapse;
				padding: 6px;
				width: 50%
		}

tr:nth-child(odd)
		{
				background-color: #eb1677;
		}

tr:nth-child(even)
		{
				background-color: #f4d6c6;
		}
